.day {
    background-color: white;
    color: black;
}

.night {
    background-color: black;
    color: white;
}

.button_day {
    background-color: lightgray;
    color: black;
}

.button_night {
    background-color: darkgray;
    color: white;
}
